<footer class="content-info" role="contentinfo">
  <div class="container">
    {{ function(dynamic_sidebar('sidebar-footer')) }}
    {% include 'partials/footer/last-modified' %}
  </div>
</footer>

{{ wp_footer }}
