<footer class="content-info" role="contentinfo">
  <div class="container">
    {# {{ function(dynamic_sidebar('sidebar-footer')) }} #}
    {% include 'partials/footer/last-modified.twig' %}
  </div>
</footer>

{{ wp_footer }}
