{% extends "base.twig" %}

{% block content %}

{% include 'partials/page/header.twig' %}

<div class="alert alert-warning">
  {{ msg.alert }}
</div>

<p>{{ msg.explain }}</p>
<ul>
  <li>{{ msg.reasons.0 }}</li>
  <li>{{ msg.reasons.1 }}</li>
</ul>

<?php get_search_form(); ?>


{% endblock %}
