{% extends "base.twig" %}

{% block content %}

{% include 'partials/page/header.twig' %}

<div class="alert alert-warning">
  {{ msg.not_found.alert }}
</div>

<p>{{ msg.explain }}</p>
<ul>
  <li>{{ msg.not_found.reasons.0 }}</li>
  <li>{{ msg.not_found.reasons.1 }}</li>
</ul>

{% include 'partials/search-form.twig' %}

{% endblock %}
