<article {{ post_class }}>
  <header>
    <h2 class="entry-title"><a href="{{ item.permalink }}">{{ item.post_title }}</a></h2>
    {% include 'partials/entry-meta.twig' %}
  </header>
  <div class="entry-summary">
    {{ item.post_excerpt }}
  </div>
</article>
